button.leave-btn{
    background-color: #800000;
    color: white;
    font-weight: bold;
}
button.leave-btn:hover{
    background-color: #800000;
    box-shadow: 0px 4px 15px 0px #000000, 0px -4px 15px 0px #ffffff;
    color: #ffffff;
}