button.join-back-group-btn{
    margin: 3%;
    width: 60%;
    background-color: rgb(217, 93, 44);
    color: white;
    align-self: center;
}

button.join-back-group-btn:hover{
    background-color: rgb(217, 93, 44);
    box-shadow: 0px 4px 15px 0px #000000, 0px -4px 15px 0px #ffffff;
    color: white;
}